body {
    background-color: rgb(134, 134, 134);
}

.clock
{
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.date_out{
    color:white;
    filter: url(#dilate_black);
    margin: 0;
    padding: 0;

    & + svg {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: inset(50%);
    }
}

.day_out{
    color:black;
    filter: url(#dilate_white);
    margin: 0;
    padding: 0;

    & + svg {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: inset(50%);
    }
}

.time{
    color:black;
    filter: url(#dilate_white);
    margin: 0;
    padding: 0;

    & + svg {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: inset(50%);
    }
}